{% extends "base.html" %}
{% block content %}
<div class="row justify-content-center">
    <div class="col-md-4">
        <div class="card shadow p-4">
            <h3 class="text-center text-success">Registrarse</h3>
            <form method="POST">
                <div class="mb-3">
                    <label>Usuario</label>
                    <input type="text" name="usuario" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Email</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label>Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success w-100">Crear Cuenta</button>
            </form>
            {% if error %}<div class="alert alert-danger mt-3">{{ error }}</div>{% endif %}
        </div>
    </div>
</div>
{% endblock %}
s